# Ignore virtual environment
.venv/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore datasets if needed
*.csv

# Ignore system files
.DS_Store
Thumbs.db

# Ignore plot outputs
*.png
